.card {
  border: 1px solid #ddd;
}

.card-body{
  background-color: #c4f8ea;
}

.quiz-img {
  font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 5px;
    padding: 1rem;
    background-color: palevioletred;
}

.modal-dialog {
  margin:0;
}