.card-header {
    cursor: pointer;
    background-color: transparent;
}

.card {
    background-color: white;
}

h1 {
    margin: 5% 0;
}
strong {
    font-size: 2rem;
    font-weight: 900;
}

strong:hover {
    background-color: lightgray;
}

.chevron {
    width: 1.5rem;
    height: auto;
    margin-right: 1rem;
}

.chevron:hover {
    background-color: lightgray;
}

.pdf-file {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 1%;
    width: 80%;
}

.pdf-details {
    margin-left: 30px;
    /* Adjust margin as needed */
}

.pdf-type {
    font-size: 0.8rem;
    font-family: Arial, sans-serif;
    color: #333;
    /* Adjust color as needed */
}

.pdf-name {
    font-size: 1.2rem;
    margin-top: 5px;
    color: #069;
    cursor: pointer;
    /* Add spacing between type and name */
}

.pdf-name:hover {
    text-decoration: underline;
}

.pdf-img {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #069;
    width: 70px;
    /* Adjust as needed */
    height: 70px;
    /* Adjust as needed */
    border-radius: 5px;
    padding: 1rem;
}