<div class="container mt-3">
    <h1 class="mb-3">{{ course.name }}</h1> <!-- Display course name -->

    <!-- Predavanja Section -->
    <div class="card border-0 mb-3">
        <div class="card-header d-flex align-items-center justify-content-between">
            <span class="d-flex align-items-center" (click)="toggleSection('predavanja')">
                <img class="chevron" src="../../../assets/right-chevron.png" *ngIf="!isExpanded('predavanja')">
                <img class="chevron" src="../../../assets/down-chevron.png" *ngIf="isExpanded('predavanja')">
                <strong>Predavanja</strong>
            </span>
            <button class="btn btn-outline-secondary" (click)="toggleAll()">{{collapseButtonText}}</button>
        </div>
        <div *ngIf="isExpanded('predavanja')" class="card-body">
            <div *ngFor="let pdf of predavanjaPDFs" class="pdf-file">
                <div class="pdf-thumbnail">
                    <img src="../../../assets/course.jpg" alt="PDF Icon" class="pdf-icon">
                </div>
                <div class="pdf-details">
                    <div class="pdf-type">FILE</div>
                    <i class="pdf-name">{{ pdf.name }}</i>
                </div>
            </div>
        </div>
    </div>

    <!-- Vjezbe Section -->
    <div class="card border-0 mb-3">
        <div class="card-header d-flex align-items-center justify-content-between" (click)="toggleSection('vjezbe')">
            <span class="d-flex align-items-center">
                <img class="chevron" src="../../../assets/right-chevron.png" *ngIf="!isExpanded('vjezbe')">
                <img class="chevron" src="../../../assets/down-chevron.png" *ngIf="isExpanded('vjezbe')">
                <strong>Vjezbe</strong>
            </span>
        </div>
        <div *ngIf="isExpanded('vjezbe')" class="card-body">
            <!-- Content for Vjezbe -->
        </div>
    </div>

    <!-- Kvizovi Section -->
    <div class="card border-0 mb-3">
        <div class="card-header d-flex align-items-center justify-content-between" (click)="toggleSection('kvizovi')">
            <span class="d-flex align-items-center">
                <img class="chevron" src="../../../assets/right-chevron.png" *ngIf="!isExpanded('kvizovi')">
                <img class="chevron" src="../../../assets/down-chevron.png" *ngIf="isExpanded('kvizovi')">
                <strong>Kvizovi</strong>
            </span>
        </div>
        <div *ngIf="isExpanded('kvizovi')" class="card-body">
            <!-- Content for Kvizovi -->
        </div>
    </div>
</div>