<div class="login-wrapper">
    <div class="login-container">
      <h2>Log in to ETF Courseware</h2>
      <!-- <div id="img login">
        <img src="https://as2.ftcdn.net/v2/jpg/02/22/70/79/1000_F_222707931_R0eknEF7o3CtFUHP8Jjer94P4mlXrLo8.jpg" alt="" srcset="">
      </div> -->
  
      <!-- Username Input -->
      <div class="form-group">
        <input type="text" id="username" name="username" class="form-control" placeholder="Username or email">
      </div>
  
      <!-- Password Input -->
      <div class="form-group">
        <input type="password" id="password" name="password" class="form-control" placeholder="Password">
      </div>
  
      <!-- Login Button -->
      <button class="btn btn-primary btn-lg">Log in</button>
  
      <!-- Login as Guest Section -->
      <div class="login-as-guest">
        <h3>Some courses may allow guest access</h3>
        <button class="btn btn-outline-secondary btn-block">Log in as a guest</button>
      </div>
    </div>
  </div>
  