<div class="container my-5">
    <div class="row mb-3">
        <div class="col-12">
            <h1 class="display-4">My Courses</h1>
            <h2>Course Overview</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 ">
            <div class="horizontal-line"></div>
        </div>
    </div>
    <div class="row my-3 align-items-center">
        <div class="col-1">
            <select class="form-select">
                <option selected>All</option>
                <option value="1">Favourites</option>
            </select>
        </div>
        <div class="col-10">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
        <div class="col-1">
            <select class="form-select">
                <option selected>Card</option>
                <option value="1">List</option>
            </select>
        </div>
    </div>
    
    <!-- Button to show the input form -->
    <div class="row my-4">
        <div class="col-4">
            <button *ngIf="!showCourseInput && authService.isAdmin()" class="btn btn-primary" (click)="toggleCourseInput()">Create new</button>
            
            <!-- Input form to create course -->
            <div *ngIf="showCourseInput" class="d-flex align-items-center">
                <input class="form-control me-2" type="text" placeholder="Enter course title" [(ngModel)]="newCourseTitle">
                <button class="btn btn-primary me-2" (click)="saveCourse()">Save</button>
                <button class="btn btn-secondary" (click)="toggleCourseInput()">Cancel</button>
            </div>
        </div>
    </div>
    
    <!-- Courses listing -->
    <div class="row">
        <div class="col-md-4 course" *ngFor="let course of courses">
            <div class="card course-box">
                <img src="../../assets/course.jpg" alt="Course Image" class="course-img" (click)="navigateToCourse(course.id)">
                <h3 (click)="navigateToCourse(course.id)">{{ course.name }}</h3>
                <p>2. semestar</p>

                <button *ngIf="authService.isAdmin()" class="btn btn-sm btn-danger position-absolute bottom-0 end-0 m-2" style="padding: 10px 15px; font-size: 1.2rem;"
                 (click)="deleteCourse(course)">
                    <i class="bi bi-trash3-fill"></i> 
                </button>
            </div>
        </div>
    </div>
</div>
